.row.mt-3.mb-3
  .col-0.col-sm-1.col-lg-3.col-xl-4
  .col-12.col-sm-10.col-lg-6.col-xl-4
    .card
      .card-header.text-center= t '.title'
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .card-body
          // i18n-tasks-use t('users.errors.session.create')
          = render 'users/shared/error_messages', resource:, action: 'session.new'
          %p.card-text
            = f.label :email, class: 'form-label'
            = form_email_field(f)
          %p.card-text
            = f.label :password, class: 'form-label'
            = f.password_field :password, autocomplete: 'current-password', class: 'form-control'
          - if devise_mapping.rememberable?
            %p.card-text.form-check
              = f.check_box :remember_me, class: 'form-check-input'
              = f.label :remember_me, class: 'form-check-label'
          %p.card-text.text-center.mt-4
            = f.submit t('.button'), class: 'btn btn-primary'
      .card-footer.text-center
        = render 'users/shared/links'
  .col-0.col-sm-1.col-lg-3.col-xl-4
