- if resource.errors.any?
  #error_explanation.mb-3.alert.alert-danger.fs-6{ 'data-turbo-cache' => 'false' }
    %h6
      = I18n.t(".#{controller_name}.#{action_name}", scope: 'users.errors')
    .list-group
      - resource.errors.full_messages.each do |message|
        %small.list-group-item= message
