.btn-group-vertical.btn-group-sm{ role: 'group', 'arial-label': "Groupe d'actions tierces" }
  - if controller_name != 'sessions'
    = link_to t('.login'), new_session_path(resource_name), class: 'btn btn-secondary align-middle mw-100 text-wrap'
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = link_to t('.sign_up'), new_registration_path(resource_name), class: 'btn btn-secondary mw-100 text-wrap'
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to t('.forgot'), new_password_path(resource_name), class: 'btn btn-secondary mw-100 text-wrap'
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to t('.no_confirmation_instructions'), new_confirmation_path(resource_name), class: 'btn btn-secondary'
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to t('.no_unlock_instructions'), new_unlock_path(resource_name), class: 'btn btn-secondary mw-100 text-wrap'
  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      = button_to t('.login_with', provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(resource_name, provider), class: 'btn btn-secondary mw-100 text-wrap', data: { turbo: false }
