.row.mt-3.mb-3
  .col-0.col-sm-1.col-lg-3.col-xl-4
  .col-12.col-sm-10.col-lg-6.col-xl-4
    .card
      .card-header.text-center= t '.title'
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        .card-body
          // i18n-tasks-use t('users.errors.passwords.update')
          = render 'users/shared/error_messages', resource:
          = f.hidden_field :reset_password_token
          %p.card-text
            = f.label :password, t('.new_password'), class: 'form-label'
            = f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'form-control'
            = f.label :password_confirmation, class: 'form-label mt-2'
            = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'
          %p.card-text.text-center.mt-4
            = f.submit t('.button'), class: 'btn btn-primary'
      .card-footer.text-center
        = render 'users/shared/links'
  .col-0.col-sm-1.col-lg-3.col-xl-4
