.row.mt-3.mb-3
  .col-0.col-sm-1.col-lg-3.col-xl-4
  .col-12.col-sm-10.col-lg-6.col-xl-4
    .card
      .card-header.text-center= t '.title'
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        .card-body
          // i18n-tasks-use t('users.errors.passwords.create')
          = render 'users/shared/error_messages', resource:
          %p.card-text
            .form-floating
              = form_email_field(f)
              = f.label :email
          %p.card-text.text-center.mt-4
            = f.submit t('.button'), class: 'btn btn-primary mw-100 text-wrap'
      .card-footer.text-center
        = render 'users/shared/links'
  .col-0.col-sm-1.col-lg-3.col-xl-4
