
.page-welcome-index
  min-height: calc(100vh - 56px)
  padding: 10px 0

  img.rails
    background: #D30001
    border-radius: 100%
    width: 90%
    margin: 5%

  img.ruby
    padding: 5% 30%
  img.devise
    padding: 5px 10%

  a.card
    &:link
      text-decoration: none
    &:visited
      text-decoration: none
    &:hover
      text-decoration: none
    &:active
      text-decoration: none
