- %w[76 120 152 167 180].each do |size|
  = favicon_link_tag "favicons/favicon-#{size}x#{size}.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "#{size}x#{size}"
- %w[16 32].each do |size|
  = favicon_link_tag "favicons/favicon-#{size}x#{size}.png", rel: 'icon', type: 'image/png', sizes: "#{size}x#{size}"
