%nav.navbar.navbar-expand-lg.bg-body-tertiary.sticky-top
  .container-fluid
    = home_link class: 'navbar-brand' do
      = image_tag 'logos/logo.png', alt: 'ANC Manager', width: 30, height: 24
      = t 'app.name'
    %button.navbar-toggler{ type: 'button', 'data-bs-toggle': 'collapse',
            'data-bs-target': '#userMenu', 'aria-controls': 'userMenu',
            'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
      %span.navbar-toggler-icon
    #userMenu.collapse.navbar-collapse.flex-row-reverse
      %ul.navbar-nav
        - if user_signed_in?
          %li.nav-item.dropdown
            %button.btn.btn-outline-secondary.dropdown-toggle{ 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false' }
              = current_user.email
            %ul.dropdown-menu
              %li
                = link_to t('navbar.user_menu.security'), :edit_user_registration, class: 'dropdown-item'
              %li
                = button_to t('navbar.user_menu.sign_out'), destroy_user_session_path, data: { confirm: t('.sign_out_confirm'), turbo_confirm: t('.sign_out_turbo_confirm') }, method: :delete, class: 'dropdown-item'
        - else
          %li.nav-item
            = link_to t('navbar.user_menu.sign_in'), :new_user_session, class: 'btn btn-outline-secondary'
