!!!
%html{ lang: 'fr' }
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'width=device-width', name: 'viewport' }/
    = render 'layouts/favicon'
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    %title= @page_title or 'RailsBaseApplication'
  %body
    %header
      = render 'layouts/navbar'
    %main.container
      - if flash.any?
        .mt-3.row.alerts
          - flash.each do |key, value|
            %div{ class: flash_class(key) }
              = value
      = yield