.row.mt-3.mb-3
  .col-0.col-sm-1.col-lg-3.col-xl-4
  .col-12.col-sm-10.col-lg-6.col-xl-4
    .card
      .card-header.text-center= t '.title'
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .card-body
          // i18n-tasks-use t('users.errors.registrations.update')
          = render 'users/shared/error_messages', resource:, action: 'registrations.edit'
          %p.card-text
            .form-floating
              = form_email_field(f)
              // i18n-tasks-use t('activerecord.attributes.user.email')
              = f.label :email
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                .text-warning.text-wrap.text-start= t('.not_confirmed', email: resource.unconfirmed_email)
          %p.card-text
            .mt-3.mb-2.badge.text-bg-info.text-wrap= t('.white_unless_changing')
            .form-floating.mb-3
              = f.password_field :password, autocomplete: 'new-password', class: 'form-control'
              = f.label :password
            .form-floating
              = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'
              = f.label :password_confirmation
          %p.card-text
            .mt-3.mb-2.badge.text-bg-warning.text-wrap.text-start= t('.needed_to_save_changes')
            .form-floating.mb-3
              = f.password_field :current_password, autocomplete: 'current-password', class: 'form-control'
              = f.label :current_password
          %p.card-text.text-center.mt-4
            = f.submit t('.button'), class: 'btn btn-primary'
      .card-footer.text-center
        %p
          = link_to t('navigation.back'), :back, class: 'btn btn-secondary'
          = button_to t('.cancel'), registration_path(resource_name), data: { confirm: t('.cancel_confirm'), turbo_confirm: t('.cancel_turbo_confirm') }, method: :delete, class: 'btn btn-danger'
  .col-0.col-sm-1.col-lg-3.col-xl-4
