.row.mt-3.mb-3
  .col-0.col-sm-1.col-lg-3.col-xl-4
  .col-12.col-sm-10.col-lg-6.col-xl-4
    .card
      .card-header.text-center= t '.title'
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .card-body
          // i18n-tasks-use t('users.errors.registrations.create')
          = render 'users/shared/error_messages', resource:, action: 'registrations.new'
          %p.card-text
            = f.label :email, class: 'form-label'
            = form_email_field(f)
          %p.card-text
            // i18n-tasks-use t('activerecord.attributes.user.email_confirmation')
            = f.label :email_confirmation, class: 'form-label'
            = form_email_field(f)
          %p.card-text
            = f.label :password, class: 'form-label'
            = f.password_field :password, autocomplete: 'new-password', class: 'form-control'
            = f.label :password_confirmation, class: 'form-label mt-2'
            = f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'
          %p.card-text.text-center.mt-4
            = f.submit t('.button'), class: 'btn btn-primary'
      .card-footer.text-center
        = render 'users/shared/links'
  .col-0.col-sm-1.col-lg-3.col-xl-4
